/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined {
    font-size: 100px;
}

.icon {
    font-size: 60px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
}

h1{
    font-size: 3.2em;
}

h2{
    font-size: 2.6em;
}

h3{
    font-size: 2em;
}

h4{
    font-size: 1.6em;
}

.hrpink {
    background-color: #dd415a;;
    width: 50px;
    height: 3px;
    margin-left: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Global */

/* transitions */
body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: #0d213b;
}

.hidden {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
/* transitions */


/* Header */
header {
    min-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.navbar li{
    display: none;
}

.sidebar .navbar a {
    display: block;
    width: 100%;
    filter: grayscale(100%) opacity(0.7);
    transform: 600ms;
}

.sidebar .navbar button {
    padding: 0.8rem;
    margin-top: 30px;
    margin-left: 0;
    background-color: #dd415a;
}

.logo {
    font-size: 3rem;
    color: #dd415a;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 400;
    padding-top: 0.5rem;
    margin-right: 2.4rem;
    filter: grayscale(100%) opacity(0.7);
    transform: 600ms;
}

.navbar a:hover {
    filter: grayscale(0%) opacity(1);
    color:#dd415a;
}

.navbar button {
    margin-left: 1rem;
    padding: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #dd415a;
    transform: 600ms;
}

.navbar button:hover {
    box-shadow: 3px 3px 6px #dd415a;
}
/* Header */

/* Main */
.img-background {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #0d213b;
    height: 100vh;
    padding-right: 180px;
    padding-left: 180px;
}

#img-bg-text {
    align-content: center;
    padding-left: 1.2rem;
}

#img-bg-text p {
    color: rgb(202, 202, 202);
    padding-bottom: 1rem;
}

#img-bg-text h1 {
    color:#dd415a;
    padding-bottom: 1.4rem;
}

#imgbgp {
    font-size: 0.8rem;
    max-width: 600px;
    padding-bottom: 1.2rem;
}

.img-background img {
    padding-top: 50px;
    z-index: 100;
    height: 600px;
}

#email {
    padding: 0.8rem;
    align-content: center;
    border-radius: 5px;
    margin-right: 1.5rem;
    min-width: 20rem;
    margin-bottom: 1.5rem;
}

#img-bg-btn {
    padding: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-content: center;
    border-radius: 5px;
    color: white;
    background-color: #dd415a;
    transform: 600ms;
}

#img-bg-btn:hover {
    box-shadow: 3px 3px 6px #dd415a;
}
/* Main */

/* centre features */
.centre-features {
    text-align: center;
    padding: 50px;
    justify-content: center;
    align-content: center;
    min-height: fit-content;
}

/* addresses both top and bottom */
.centre-box div{
    border: 0.8px solid #bcbcbc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 10px #bcbcbc;
    transform: 600ms;
}

.centre-box div:hover{
    box-shadow: 5px 5px 10px #dd415a;
}

.centre-box {
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
    padding-left: 50px;
}
/* addresses both top and bottom */

.centre-box .centre-top {
    padding-right: 60px;
    padding-left: 60px;
}

.centre-features-top p {
    max-width: 350px;
}

.centre-features .centre-bottom p{
    font-size: 0.8rem;
    max-width: 300px;
    padding-right: 10px;
    padding-left: 10px;
}

#centre-features-text {
    padding: 60px;
    padding-left: 200px;
    padding-right: 200px;
}

#centre-features-text h2{
    padding: 10px;
}

#centre-features-text p{
    padding: 10px;
}

.centre-pink-h {
    color: #dd415a;
}

.centre-top-num {
    color: #dd415a;
}

.centre-features-iconblue{
    color: #0d213b;
}

.centre-features-iconpink{
    color: #dd415a; 
}
/* centre features */

/* how it works */
.howitworks {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    min-height: 70vh;
}

.howitworks img{
    height: 500px;
    margin-left: -40px;
}

.howitworks_text{
    text-align: left;
    padding-left: 20px;
}

#hiwtop {
    padding-left: 40px;
    padding-bottom: 10px;
}

#hiwtop .hrpink{
    margin-left: 5%;
}

#hiwtop h2{
    padding: 12px;
}

#hiwtop p{
    padding: 12px;
}

#hiw-card-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.hiw-card {
    padding-top: 10px;
    max-width: 400px;
    max-height: auto;
    display: flex;
    justify-content: space-around;
}

.hiw-card .material-symbols-outlined {
    color: #dd415a
}

.hiw-card h3 {
    color: #0d213b;
}

#hiwtop h2 {
    color: #0d213b;
}

.hiw-card .hiw-card-text {
    padding-left: 20px;
}

/* app screenshots */
.appscreenshots{
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    padding: 40px;
}

#app-ss-text {
    align-content: center;
    justify-content: center;
    padding: 30px;
    padding-left: 180px;
    padding-right: 180px;
}

#app-ss-text h2 {
    color: #0d213b;
}

.app-ss-imgcontainer {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: auto;
    min-height: fit-content;
    align-items: center;
}

.app-ss-imgcontainer img {
    max-height: 450px;
    margin-left: -120px;
    margin-right: -120px;
}
/* app screenshots */

/* overview */
.overview{
    height: 35vh;
    padding-right: 40px;
    padding-left: 40px;
    align-content: center;
    background-color: #0d213b;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    padding: 20px;
}

.overview .material-symbols-outlined{
    color: #dd415a;
    font-size: 6rem;
    padding: 10px;
}
/* overview */

/* membership */
.membership{
    padding-right: 120px;
    padding-left: 120px;
    min-height: fit-content;
    align-content: center;
    text-align: center;
}

#mem-text {
    padding: 40px;
}

#mem-text h2 {
    padding: 15px;
    color: #0d213b;
}

#mem-text p {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 190px;
    padding-right: 190px;
}

#membership-cards{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

#membership-cards div{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 5px 5px 10px #bcbcbc;
    transform: 600ms;
}

#membership-cards div:hover{
    box-shadow: 5px 5px 10px #dd415a;
}

#membership-cards div h2{
    color: #dd415a;
}

#membership-cards li{
    padding: 10px;
    padding-bottom: 20px;
}

#membership-cards button{
    padding: 15px;
    margin-top: 20px;
    color: white;
    background-color: #dd415a;
    align-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #bcbcbc;
    transform: 600ms;
}

#membership-cards button:hover{
    box-shadow: 5px 5px 10px #dd415a;
}

#membership-cards div h4{
    padding-bottom: 20px;
}
/* membership */

/* footer */
footer{
    background-color: #0d213b;
}

.footer-data{
    padding-right: 40px;
    padding-left: 40px;
    justify-content: center;
    z-index: 10;
    background-color: #0d213b;
}

#subscribe {
    text-align: center;
    padding: 2rem;
}

#subscribe h2{
    padding-bottom: 1.2rem;
}

#subscribe p{
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 1.2rem;
    color: white;
    font-size: 0.8rem;
}

#footer-email-input {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer-btn {
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    color: white;
    background-color: #dd415a;
    transform: 600ms;
    max-height: 45px;
}

#footer-btn:hover{
    box-shadow: 5px 5px 10px #dd415a;
}

#footer-flex {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.footer-flex-head {
    padding-bottom: 3px;
    color: #dd415a;
}

#footer-flex img {
    max-height: 25px;
}

.footer-down {
    border: 2px solid #dd415a;
    border-radius: 5px;
    padding: 1rem;
    align-content: center;
    color: white;
    transform: 600ms;
}

.footer-down:hover{
    box-shadow: 5px 5px 10px #dd415a;
}

#last {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #dd415a;
    justify-content: center;
    font-size: 0.5rem;
}

.footer-hr {
    background-color: gray;;
    width: 50px;
    height: 2px;
    margin-left: 50%;
}
/* footer */

/* media queries */
@media(max-width: 1360px){
    .centre-box div{
        padding: 10px;
    }
    
    .centre-box {
        padding-right: 30px;
        padding-left: 30px;
    }

    .howitworks {
        padding-right: 30px;
        padding-left: 20px;
    }
    
    .howitworks img{
        height: 400px;
        margin-left: -50px;
    }
    
    .howitworks_text{
        padding-left: 10px;
    }
    
    #hiwtop {
        padding-left: 10px;
    }

    .hiw-card {
        max-width: 350px;
    }

    #subscribe p{
        padding-left: 250px;
        padding-right: 250px;
        padding-top: 1.2rem;
        color: white;
        font-size: 0.8rem;
    }
}

@media(max-width: 1234px){
    .centre-box div{
        padding: 5px;
        margin: 20px;
    }
    
    #centre-features-text {
        padding: 40px;
        padding-left: 120px;
        padding-right: 120px;
    }    

    .centre-box {
        padding-right: 15px;
        padding-left: 15px;
    }

    .centre-box {
        flex-wrap: wrap;
    }

    .centre-features {
        min-height: fit-content;
    }

    #mem-text p {
        padding-left: 80px;
        padding-right: 80px;
    }
    
    #membership-cards div{
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #subscribe p{
        padding-left: 190px;
        padding-right: 190px;
        padding-top: 1.2rem;
        color: white;
        font-size: 0.8rem;
    }
}

@media(max-width: 1120px){
    .hideOnMobile{
        display: none;
    }
    .navbar li{
        display: block;
    }

    .img-background .screenshot{
        display: none;
    }

    .howitworks_text{
        padding-left: 120px;
    }

    #app-ss-text {
        padding-left: 120px;
        padding-right: 120px;
    }

    .app-ss-imgcontainer img {
        max-height: 250px;
        margin-left: -120px;
        margin-right: -120px;
    }

    .howitworks img{
        height: 0px;
    }

    .membership{
        padding-right: 80px;
        padding-left: 80px;
    }    

    #mem-text p {
        padding-left: 30px;
        padding-right: 30px;
    }

    #membership-cards{
        flex-wrap: wrap;
    }
    
    #membership-cards div{
        padding: 15px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
    }

    #subscribe p{
        padding-left: 120px;
        padding-right: 120px;
    }

    .footer-data{
        padding-right: 20px;
        padding-left: 20px;
        font-size: 0.8rem;
    }
    
}

@media(max-width: 920px){
    .hideOnMobile{
        display: none;
    }
    .navbar li{
        display: block;
    }

    .img-background {
        padding-right: 100px;
        padding-left: 100px;
    }

    #centre-features-text {
        padding-left: 80px;
        padding-right: 80px;
    }    

    #app-ss-text {
        padding-left: 80px;
        padding-right: 80px;
    }

    .howitworks_text{
        padding-left: 90px;
    }

    #mem-text p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .membership p{
        padding-right: 40px;
        padding-left: 40px;
    }

    #subscribe p{
        padding-left: 60px;
        padding-right: 60px;
    }

    #footer-flex{
        flex-wrap: wrap;
    }

    #footer-flex div{
        margin-bottom: 20px;
    }
}

@media(max-width: 660px){
    .img-background {
        padding-right: 50px;
        padding-left: 50px;
    }

    #img-bg-text {
        padding-left: 0;
    }

    #subscribe p{
        padding-left: 30px;
        padding-right: 30px;
    }

    #centre-features-text {
        padding-left: 40px;
        padding-right: 40px;
    }  

    #app-ss-text {
        padding-left: 60px;
        padding-right: 60px;
    }

    #app-ss-text {
        padding-left: 60px;
        padding-right: 60px;
    }

    .membership{
        padding-right: 40px;
        padding-left: 40px;
    }    

    #mem-text p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .membership p{
        padding-right: 20px;
        padding-left: 20px;
    }

    #footer-email-input {
        flex-wrap: wrap;
    }

}

@media(max-width: 440px){
    .img-background {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    #img-bg-text {
        padding-left: 0.7rem;
    }
    
    #imgbgp {
        max-width: 400px;
    }

    #email {
        margin-right: 0;
        max-width: 18rem;
    }

    .centre-features{
        padding: 25px;
    }

    .centre-box {
        padding: 0px;
    }

    #hiwtop {
        padding: 10px;
    }

    .howitworks_text{
        padding-left: 40px;
    }

    .overview{
        height: 30vh;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 1.5rem;
        padding: 10px;
    }
    
    .overview .material-symbols-outlined{
        font-size: 4rem;
    }

    .membership{
        padding-right: 20px;
        padding-left: 20px;
    }

    #mem-text{
        padding: 20px;
    }

    .sidebar{
        width: 100%;
    }

    .sidebar li{
        padding-left: 20px;
    }

    .sidebar .navbar{
        padding-left: 20px;
    }

    #app-ss-text {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(max-width: 400px){

    h1{
        font-size: 2.3em;
    }
    
    h2{
        font-size: 2.0em;
    }
    
    h3{
        font-size: 1.7em;
    }
    
    h4{
        font-size: 1.4em;
    }

    .img-background {
        padding-right: 150px;
        padding-left: 15px;
    }
    
    #img-bg-text {
        padding-left: 0.7rem;
    }
    
    #imgbgp {
        width: 100%;
    }

    .centre-features{
        padding: 12px;
    }

    .howitworks{
        padding: 15px;
    }

    .howitworks_text{
        padding: 0px;
    }

    .appscreenshots{
        padding: 20px;
    }

    #subscribe{
        padding: 0px;
        padding-top: 20px;
    }

    #email {
        margin-right: 0;
        min-width: 15rem;
    }

    .howitworks {
        justify-content: center;
        padding: 40px;
    }

    .howitworks_text{
        padding-left: 20px;
    }

    .membership{
        padding-right: 12px;
        padding-left: 12px;
    }

    #mem-text{
        padding: 12px;
    }

    .sidebar{
        width: 100%;
    }

    .sidebar li{
        padding-left: 20px;
    }

    #app-ss-text {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width: 330px){

    .img-background {
        padding-right: 150px;
        padding-left: 15px;
    }
    
    #img-bg-text {
        padding-left: 0.7rem;
    }
    
    #imgbgp {
        width: 100%;
    }

    .howitworks{
        padding: 15px;
    }

    .centre-features{
        padding: 4px;
    }

    .howitworks_text{
        padding: 0px;
    }

    #email {
        min-width: 10rem;
    }

    .howitworks {
        justify-content: center;
        padding: 40px;
    }

    .howitworks_text{
        padding-left: 20px;
    }

    .membership{
        padding-right: 12px;
        padding-left: 12px;
    }

    #mem-text{
        padding: 12px;
    }

    .sidebar{
        width: 100%;
    }

    .sidebar li{
        padding-left: 20px;
    }

    #app-ss-text {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* @media only screen and (max-width: 1400px){

    #aaf {
        padding: 40px;
        padding-left: 150px;
        padding-right: 150px;
    }
    
    .centre .ctop {
        padding-right: 40px;
        padding-left: 40px;
    }
    
    .centre div{
        padding: 15px;
    }
    
    .centre p {
        max-width: 250px;
    }

    #hiwtop {
        padding-left: 60px;
    }
}

@media only screen and (max-width: 1120px){
    
    .centre {
        flex-wrap: wrap;
    }
    
    .centre .ctop {
        padding-right: 70px;
        padding-left: 70px;
    }
    
    .centre p {
        max-width: 200px;
    }

    .centre-features {
        height: fit-content;
    }
    
    #memtext {
        padding: 40px;
    }
    
    #memtext h2 {
        padding: 20px;
    }

    #memtext p {
        padding-left: 100px;
        padding-right: 100px;
    }

    #hiwtop {
        padding-left: 30px;
    }

    .hiwcard {
        max-width: 300px;
    }

    img {
        max-height: 400px;
        width: auto;
    }

    #footerflex {
        flex-wrap: wrap;
    }

    #subto p{
        padding-left: 100px;
        padding-right: 100px;
    }

    #footerflex div {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 920px){

    .hiwcard {
        max-width: 250px;
    }

    .howitworks{
        height: fit-content;
    }


    img {
        max-height: 350px;
        width: auto;
    }

    .centre .ctop {
        margin-bottom: 30px;
    }

    .centre div {
        margin-bottom: 30px;
    }

    #subto p{
        padding-left: 60px;
        padding-right: 60px;
    }


    .membership{
        height: fit-content;
    }
    #membership-cards{
        flex-wrap: wrap;
    }

    #memtext {
        padding: 20px;
    }

    #memtext p {
        padding-left: 60px;
        padding-right: 60px;
    }

    #membership-cards div{
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 780px){

    
    img {
        display: none;
    }

    .hiwcard {
        margin-bottom: 20px;
        max-width: 500px;
    }

    #aaf {
        padding: 60px;
        padding-left: 80px;
        padding-right: 80px;
    }
    
    #aaf h2{
        padding: 15px;
    }
    
    #aaf p{
        padding: 15px;
    }

    #subto p{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (min-width: 450px){

} */




    /* 
    .header {
        padding: 1.3rem 5%;
    }

    .icons {
        display: inline-flex;
    }
 
    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: white;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        opacity: 0;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    */

/*
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
}
*/

/* .imgbody {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgcontainer {
    align-items: center;
    display: flex;
    height: 450px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.catalogue {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.catalogue1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50);
}

.catalogue2, .catalogue4 {
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.catalogue2 {
    left: 30%;
    transform: translateX(-50%);
}

.catalogue3 {
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.catalogue4 {
    left: 70%;
    transform: translateX(-50%);
}

.catalogue5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.imgcontrols {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.imgcontrols button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.imgcontrols-button:focus{
    outline: none;
}

.imgcontrols-previous{
    position: relative;
}

.imgcontrols-previous::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.imgcontrols-previous:hover::before{
    left: -40px;
}

.imgcontrols-next{
    position: relative;
}

.imgcontrols-next::before{
    border: solid#000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.imgcontrols-next:hover::before{
    right: -40px;
}

.imgcontainer-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.imgcontainer nav li{
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.imgcontainer-nav li.imgcontainer-item-selected{
    background: #555;
} */
/* app screenshots */

